.navigation {
  padding: 8px;
  display: flex;
  flex-direction: row; /* main axis:row*/
  justify-content: space-between; /* according to row*/
  align-items: stretch; /* column*/
}

.navigation ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  margin-right: 100px;
}
